body{
    background: rgb(0, 0, 0);
    background-size: cover;
    background-attachment:fixed;
}

title{
    text-transform: uppercase;
}

h1{
    color: rgb(255, 255, 255) ;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Rockwell Nova Extra Bold';
    border-radius: 5px;
    margin: 100px;
    
    
}

header{
	background-color: rgb(9, 0, 141);
	margin: auto;
	padding: 2px 20px 20px 20px;
	border-radius:  10px;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
    /*text-transform: capitalize;*/ 
    font-family: 'Rockwell Extra Bold';
    text-transform: capitalize ;
}

h3 {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	
}

table, th, td {
  border: 1px solid rgb(255, 255, 255);
}

th, td {
text-align: right;
color: white;
}


.hide {
	text-align: center;
  color: white;
  background-color: rgb(9, 0, 141);
}



table {
	margin-left: auto;
 	margin-right: auto;
 	 background-color: rgb(9, 0, 141);
    border: 2px;
    padding: 10px;
    border-radius:  10px;
}



.bigMc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid rgb(9, 0, 141);
  background-color: rgb(0, 0, 0);
}

nav > ul > li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}

li {
  color:white;
}

footer{
   background-color: rgb(9, 0, 141);
	margin: auto;
	padding: 20px;
	text-align: center;
	border-radius:  10px;
}

section {
	margin-bottom: 30px;

}





.texto {
  color: rgb(255, 255, 255);
}



 /* FORMULAIRE DE CO */
 @import url(https://fonts.googleapis.com/css?family=Roboto:300);

 .login-page {
   width: 360px;
   padding: 8% 0 0;
   margin: auto;
 }
 .form {
   position: relative;
   z-index: 1;
   background: #FFFFFF;
   max-width: 360px;
   margin: 0 auto 100px;
   padding: 45px;
   text-align: center;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 }
 .form input {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
 }
 .form button {
   font-family: "Roboto", sans-serif;
   text-transform: uppercase;
   outline: 0;
   background: #4CAF50;
   width: 100%;
   border: 0;
   padding: 15px;
   color: #FFFFFF;
   font-size: 14px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
 }
 .form button:hover,.form button:active,.form button:focus {
   background: #43A047;
 }
 .form .message {
   margin: 15px 0 0;
   color: #b3b3b3;
   font-size: 12px;
 }
 .form .message a {
   color: #4CAF50;
   text-decoration: none;
 }
 .form .register-form {
   display: none;
 }
 .container {
   position: relative;
   z-index: 1;
   max-width: 300px;
   margin: 0 auto;
 }
 .container:before, .container:after {
   content: "";
   display: block;
   clear: both;
 }
 .container .info {
   margin: 50px auto;
   text-align: center;
 }
 .container .info h1 {
   margin: 0 0 15px;
   padding: 0;
   font-size: 36px;
   font-weight: 300;
   color: #1a1a1a;
 }
 .container .info span {
   color: #4d4d4d;
   font-size: 12px;
 }
 .container .info span a {
   color: #000000;
   text-decoration: none;
 }
 .container .info span .fa {
   color: #EF3B3A;
 }
 body {
   background: #76b852; /* fallback for old browsers */
   background: rgb(141,194,111);
   background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
   font-family: "Roboto", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;      
 }
 
/* Fin de formulaire de co */